html {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;

  @include breakpoint("extra-large") {
    font-size: 14px;
  }

  @include breakpoint("large") {
    font-size: 13px;
  }

  @include breakpoint("medium") {
    font-size: 12px;
  }

  @include breakpoint("small") {
    font-size: 11px;
  }

  @include breakpoint("extra-small") {
    font-size: 10px;
  }

  @include breakpoint("tiny") {
    font-size: 9px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  font-weight: bold;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}
