.search-playlist {
  padding: 25px 0;

  .search-playlist__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @include breakpoint("extra-small") {
      flex-direction: column;
    }

    .search-playlist__btn {
      color: $white;
      background-color: $green;
      padding: 5px 10px;
      font-size: 1.3rem;
      border: none;

      @include breakpoint("extra-small") {
        width: 100%;
      }
    }
  }
}
